.avatar {
  height: 80px;
}

.avatar img {
  border-radius: 50%;
  height: 80px;
  display: inline-block;
  margin-top: -24px;
  margin-bottom: 30px;
}

.author-info {
  font-family: 'Cinzel Decorative', cursive;
  display: inline-block;
  padding: 10px;
}

.author-info p {
  font-family: 'Cinzel Decorative', cursive;
  margin: 0;
  padding: 5px 0;
  color: #666;
}

.article-title {
  font-weight: 700;
  color: #333;
  font-family: 'Cinzel Decorative', cursive;
}
